body {
  margin: 0;
}

/* Begin Header propertis */
header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: white;
}
nav {
  margin-right: 40px;
}
nav span {
  margin: 0px 5px 0px 5px;
}
a {
  color: black;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo span {
  color: MediumAquamarine;
}
/* End header properties */

/*Begin main properties */
.main {
    display: flex;
    width: 1232px;
    margin: 0 auto 78px auto;
    padding-top: 116px;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}
/*End main properties */
/*Background image properties*/
.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  width: 630px;
}
.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.stories .text-content {
    height: 250px;
}
.story p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.story h2 {
  font-size: 36px;
}
.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family: Georgia;
  font-size: 30px;
  height: 300px;
  text-align: center;
}
.lead-story .image-content {
  background-image: url("../images/img-story-main.png");
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story3.image-content {
  background-image: url("../images/img-story-3.png");
}
.story2.image-content {
  background-image: url("../images/img-story-2.png");
}
.story1.image-content {
  background-image: url("../images/img-story-1.png");
}
/*End background image properties*/
/*New Bites*/
.bite {
  display: block;
      padding: 11px 20px;
      border-bottom: 1px solid black;
      background-color: WhiteSmoke;
      font-family: Verdana;
      font-size: 12px;
      color: DimGray;
}
.bites h3 {
  font-size: 16px;
  font-weight: bold;
}
/*End News Bites*/
/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 300px;
}
.title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 15px;
  margin-right: 25px;
  border-right: 2px solid white;
}
